
* {
  	box-sizing: border-box;
	font-family:"Cousine" , monospace;
	font-family:"Courier";
}
body {
	background-image: linear-gradient(45deg, #000000 2.17%, #fff 2.17%, #fff 50%, #000000 50%, #000000 52.17%, #fff 52.17%, #fff 100%);
background-size: 23.00px 23.00px;		

}

.sum{
	background-color: white;
	padding:0%;
	margin-left:10%;
	margin-right:10%;
      	text-align:center;
}
li{
	display:inline;	
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
.nav-github{
	
	margin-left: 10%;
	padding: 3%;
	background-color:white;
		}	
.nav-resume{	

	margin-right: 10%;
	padding: 3%;
	margin-left: 10%;
	background-color:white;
}
.nav-films{	
	
	margin-right: 10%;
	padding: 3%;
	background-color:white;
	
}
.navi{
	margin-top:10%;
	text-align:center;
	
		
}
a{
    text-decoration: none;
	color:#000000;
}
a:link {
  text-decoration: none;
  
}


a:visited {
   text-decoration: none;
}


a:hover {
	text-decoration: none;
	background-image: linear-gradient(168deg, #000000 2.17%, #fff 2.17%, #fff 50%, #000000 50%, #000000 52.17%, #fff 52.17%, #fff 100%);
background-size: 23.00px 4.89px;
    
    
}


a:active {
  text-decoration: none;
}

h1 {
  text-align:center;
}
p {
	
}

@media screen and (max-width:200px) {
  .left, .main, .right {
    width:100%;
}
