*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  min-width: 320px;
  background-image: linear-gradient(
    45deg,
    #444 2.17%, #f0f0f0 2.17%, #f0f0f0 50%,
    #444 50%, #444 52.17%, #f0f0f0 52.17%, #f0f0f0 100%
  );
  background-size: 24px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 2rem;
}

#app {
  width: 100%;
  max-width: 900px;
}

a {
  color: #000;
  text-decoration: none;
}
